.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 4%;
    top: 13px;
}
.line{
    width: 25px;
    background-color: white;
    height: 3.5px;
    margin: 3px 3px;
}
@media only screen and (max-width: 680px) {
    .nav{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50px;
        left: 64%;
        height: 154px;
        width: 36vw;
        line-height: 34px;    
        transition: all 0.5s ease-out;    
    }
    .nav-head{
        font-size: 15px;
    }
    .image-br{
        width: 53px;
    }
    .burger{
        display: block;
    }
    .o-class{
        opacity: 0;
    }
    .image-logo-round{
        width: 165px;
        height: 157px;
        
    }
    .paira{
        font-size: 16px;
        position: relative;
        bottom: 0px;
    }
    .swiper-slide img{
        width: 100%;
        height: 180px;
    }
    #container{
        align-items: normal;
        height: fit-content;
    }
    #Electrical-image{
        flex-direction: column-reverse;
        max-width: 100%;
        text-align: center;
    }
    .head{
        text-align: center;
        font-size: 19px;
    }
    .content{
        max-width: 100%;
        padding: 0px 20px;
        font-size: 15px;
        padding-top: 10px;
    }
    .bgblue{
        width: 290px;
    }
    #sectionleft{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .paira-text-s1{
        padding-left: 0px;
        text-align: center;
        padding-top: 8px;
    }
    .box12{
        text-align: center;
    }
    #sectionbg{
        flex-direction: column-reverse;
        max-width: 100%;
        text-align: center;
        padding-bottom: 35px;
    }
    .paira-text-s2{
        padding-top: 8px;
    }
    .head-line{
        width: 75%;
    }
    #image-slider-pg{
        margin-top: 1px;
    }
    .red-gh{
        max-width: 100%;
        margin: 75px 30px 0px 30px;
    }
    .red-text{
        font-size: 17px;
        text-align: center;
    }
    .info-m-electrical{
        flex-direction: column-reverse;
    }
    .electrical-logo-image{
        height: 228px;
    }
    .info-image{
        display: flex;
        justify-content: center;
    }
    .info-paira{
        font-size: 21px;
        text-align: center;
        margin-top: 29px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.551);
        border-radius: 5px;        
    }
    #map-gl iframe{
        width: 95%;
        height: 229px;
    }
    #foot-os{
        font-size: 10px;
        margin-bottom: 15px;
        padding: 0px;
    }
    #policy{
        font-size: 12px;
        margin-top: 1px;
        padding: 0px;
    }
    .swiper-button-prev{
        visibility: hidden;
    }
    .swiper-button-next{
        visibility: hidden;
    }
    .image-logo{
        padding-top: 10px;
    }
}
